# Carpeta de datos
data/*
!data/.gitkeep

# Notebooks temporales
.ipynb_checkpoints/
*.ipynb

# Power BI
*.pbix

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos grandes
*.zip
*.csv

# Excluir explícitamente estos archivos
!README.md
!Primer_entregable.md
