# Carpeta de datos
data/*
!data/.gitkeep

# Notebooks temporales


# Power BI
*.pbix

# Archivos del sistema
.DS_Store
Thumbs.db
__pycache__/
# Archivos grandes
*.zip
*.csv

# Excluir explícitamente estos archivos
!README.md
